@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --border-color: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.content_wrapper {
  width: 80%;
  margin: 0 auto;
}

/* navigation  */
#navigation {
  padding: 1.1rem 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  width: 80%;
}
.site_header {
  float: left;
}
.nav_container {
  float: right;
}

.nav_container ul {
  list-style-type: none;
}
.nav_container ul > li {
  display: inline;
}

.nav_link {
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
}

/* main 1st section */
main {
  clear: both;
  padding-top: 80px;
}
.hero_left img {
  width: 100%;
}
