@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* navigation  */
.site_header {
  float: left;
}
.nav_container {
  float: right;
}

.nav_container ul {
  list-style-type: none;
}
.nav_container ul > li {
  display: inline;
}

.nav_link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
}
