<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pranish | Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="background">
      <header>
        <div class="content_wrapper">
          <nav class="navContainer">
            <div><a href="/" class="nav_tagline">Pranish</a></div>
            <div class="hamburger"><i class="fa fa-bars"></i></div>
            <div class="nav_links">
              <a href="/">About</a>
              <a href="/">Blogs</a>
              <a href="/">Projects</a>
            </div>
          </nav>
        </div>
      </header>
      <section>
        <div class="content_wrapper">
          <div id="heroContainer">
            <div class="heroTagline">
              <h3 class="hero_name">Building website is Fun.</h3>
              <p>
                Hi i am a <span class="hero_tag"> Web developer </span>. I am
                working towards getting full stack certificate from the hacking
                school.
              </p>

              <button class="btn btn_primary">Contact Me</button>
              <button class="btn">View Projects</button>
            </div>
            <div class="heroImage">
              <img src="./images/hero.svg" alt="hero image" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <main>
      <section class="section_2" id="projectSection">
        <div class="content_wrapper">
          <div id="projectContainer">
            <h2 class="section_heading">Recent Projects</h2>
            <div class="projects">
              <div class="project">
                <img src="./images/1.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img src="./images/2.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img src="./images/3.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img src="./images/4.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img src="./images/5.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img src="./images/6.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- skills -->
      <section id="skillSection">
        <div class="content_wrapper">
          <div class="skillsContainer">
            <div class="skills_left">
              <h2 class="section_heading">Skills</h2>
            </div>
            <div class="skills_right">
              <div class="skill_text">HTML5</div>
              <div class="skill_text">CSS3</div>
              <div class="skill_text">JavaScript</div>
              <div class="skill_text">React</div>
              <div class="skill_text">NodeJS</div>
              <div class="skill_text">MongoDB</div>
              <div class="skill_text">SQL</div>
              <div class="skill_text">Java</div>
              <div class="skill_text">C#</div>
              <div class="skill_text">Python</div>
              <div class="skill_text">Figma</div>
              <div class="skill_text">Prototyping</div>
              <div class="skill_text">Website Design</div>
            </div>
          </div>
        </div>
      </section>
      <!-- blogs -->
      <section id="blogSection">
        <div class="content_wrapper">
          <div class="blogsContainer">
            <h2 class="section_heading">Blogs</h2>
            <div class="blogs">
              <div class="blog">
                <a
                  href="https://dev.to/satvik1203/es6-array-helper-methods-1am8
                "
                  target="blank"
                  class="blog_heading"
                  >ES6 Array Helper Methods</a
                >

                <div class="blog_tags">
                  <p>JavaScript</p>
                  <p>Array</p>
                  <p>NodeJS</p>
                </div>
                <p>
                  Array methods can be the most confusing thing one can think of
                  in the language of JS. They are so useful that almost every
                  framework is based on array methods, eg: REACT.JS.
                </p>
              </div>
              <div class="blog">
                <a
                  href="https://medium.com/@rheasing22/bitwise-operators-in-javascript-and-their-applications-b0987c7150fb

                "
                  target="blank"
                  class="blog_heading"
                  >Bitwise Operators in Javascript and their Application</a
                >

                <div class="blog_tags">
                  <p>JavaScript</p>
                  <p>Bitwise</p>
                  <p>Operator</p>
                  <p>Language Fundamentals</p>
                </div>
                <p>
                  JavaScript like many other programming languages, supports
                  bitwise operators. These operators work on the bit level and
                  are useful if we want to manipulate the individual bits
                </p>
              </div>
              <div class="blog">
                <a
                  href="https://dev.to/satvik1203/es6-array-helper-methods-1am8
                "
                  target="blank"
                  class="blog_heading"
                  >ES6 Array Helper Methods</a
                >

                <div class="blog_tags">
                  <p>JavaScript</p>
                  <p>Array</p>
                  <p>NodeJS</p>
                </div>
                <p>
                  Array methods can be the most confusing thing one can think of
                  in the language of JS. They are so useful that almost every
                  framework is based on array methods, eg: REACT.JS.
                </p>
              </div>
              <div class="blog">
                <a
                  href="https://medium.com/@rheasing22/bitwise-operators-in-javascript-and-their-applications-b0987c7150fb

                "
                  target="blank"
                  class="blog_heading"
                  >Bitwise Operators in Javascript and their Application</a
                >

                <div class="blog_tags">
                  <p>JavaScript</p>
                  <p>Bitwise</p>
                  <p>Operator</p>
                  <p>Language Fundamentals</p>
                </div>
                <p>
                  JavaScript like many other programming languages, supports
                  bitwise operators. These operators work on the bit level and
                  are useful if we want to manipulate the individual bits
                </p>
              </div>
              <div class="blog">
                <a
                  href="https://dev.to/satvik1203/es6-array-helper-methods-1am8
                "
                  target="blank"
                  class="blog_heading"
                  >ES6 Array Helper Methods</a
                >

                <div class="blog_tags">
                  <p>JavaScript</p>
                  <p>Array</p>
                  <p>NodeJS</p>
                </div>
                <p>
                  Array methods can be the most confusing thing one can think of
                  in the language of JS. They are so useful that almost every
                  framework is based on array methods, eg: REACT.JS.
                </p>
              </div>
              <div class="blog">
                <a
                  href="https://medium.com/@rheasing22/bitwise-operators-in-javascript-and-their-applications-b0987c7150fb

                "
                  target="blank"
                  class="blog_heading"
                  >Bitwise Operators in Javascript and their Application</a
                >

                <div class="blog_tags">
                  <p>JavaScript</p>
                  <p>Bitwise</p>
                  <p>Operator</p>
                  <p>Language Fundamentals</p>
                </div>
                <p>
                  JavaScript like many other programming languages, supports
                  bitwise operators. These operators work on the bit level and
                  are useful if we want to manipulate the individual bits
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="aboutSection">
        <div class="content_wrapper">
          <h2 class="section_heading">About</h2>

          <div class="aboutContainer">
            <div class="about_left">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatum repellendus nisi consequatur reiciendis mollitia odit
                magnam perferendis saepe quaerat culpa veniam sint, labore eum
                ab, recusandae incidunt. Dicta, debitis perspiciatis.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatum repellendus nisi consequatur reiciendis mollitia odit
                magnam perferendis saepe quaerat culpa veniam sint, labore eum
                ab, recusandae incidunt. Dicta, debitis perspiciatis.
              </p>

              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatum repellendus nisi consequatur reiciendis mollitia odit
                magnam perferendis saepe quaerat culpa veniam sint, labore eum
                ab, recusandae incidunt. Dicta, debitis perspiciatis.
              </p>
            </div>

            <div class="about_right">
              <img src="./images/about.svg" alt="about me" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section id="footerSection">
        <div class="content_wrapper">
          <div class="footerContainer">
            <div class="footer_row">
              <a href="#"><i class="fab fa-github"></i> </a>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#"> <i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i> </a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="footer_row">
              <p>&copy; 2021 Pranish. All rights reserved.</p>
            </div>
            <div class="footer_row">
              <p>Brisbane, Australia</p>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
