<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pranish | Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="background">
      <header>
        <div class="content_wrapper">
          <nav class="navContainer">
            <div><a href="/" class="nav_tagline">Pranish</a></div>
            <div><i class="fa fa-bars"></i></div>
            <div class="nav_links">
              <a href="/">About</a>
              <a href="/">Blogs</a>
              <a href="/">Projects</a>
            </div>
          </nav>
        </div>
      </header>
      <section>
        <div class="content_wrapper">
          <div id="heroContainer">
            <div class="heroTagline">
              <h3 class="hero_name">Building website is Fun.</h3>
              <p>
                Hi i am a <span class="hero_tag"> Web developer </span>. I am
                working towards getting full stack certificate from the hacking
                school.
              </p>

              <button class="btn btn_primary">Contact Me</button>
              <button class="btn">View Projects</button>
            </div>
            <div class="heroImage">
              <img src="./images/hero.svg" alt="hero image" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <main>
      <section>
        <div class="content_wrapper">
          <div id="projectContainer">
            <h2 class="section_heading">Recent Projects</h2>
            <div class="projects">
              <div class="project">
                <img src="./images/1.jpg" alt="12" />
                <div class="project_link">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#">
                    <i class="fas fa-link"></i>
                  </a>
                </div>

                <p>Weather CLI</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
