<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style/style.css" rel="stylesheet" />
    <title>Blog</title>
  </head>
  <body>
    <div class="content_wrapper">
      <nav id="navigation">
        <div class="site_header">
          <a href="#" class="nav_link">Blog</a>
        </div>
        <div class="nav_container">
          <ul>
            <li><a href="./index.html" class="nav_link">Home</a></li>
            <li><a href="./contact.html" class="nav_link">Contact</a></li>
            <li><a href="./about.html" class="nav_link">About</a></li>
          </ul>
        </div>
      </nav>
      <main>
        <!-- new section -->
        <section id="aboutContainer">
          <h2>About ME</h2>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur ducimus facilis aperiam aspernatur perferendis quaerat
            officia. Sed eligendi laboriosam obcaecati! Quae, deleniti nostrum
            eos temporibus totam suscipit nam animi sunt!
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur ducimus facilis aperiam aspernatur perferendis quaerat
            officia. Sed eligendi laboriosam obcaecati! Quae, deleniti nostrum
            eos temporibus totam suscipit nam animi sunt!
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur ducimus facilis aperiam aspernatur perferendis quaerat
            officia. Sed eligendi laboriosam obcaecati! Quae, deleniti nostrum
            eos temporibus totam suscipit nam animi sunt!
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur ducimus facilis aperiam aspernatur perferendis quaerat
            officia. Sed eligendi laboriosam obcaecati! Quae, deleniti nostrum
            eos temporibus totam suscipit nam animi sunt!
          </p>
        </section>

        <!-- team section -->
        <section id="teamContainer">
          <h2>Our team</h2>
          <div class="team">
            <img src="./images/images/team_1.jpg" />
            <p class="teamMember_name">Anna</p>
            <p class="teamMember_position">Designer</p>
          </div>
          <div class="team">
            <img src="./images/images/team_2.jpg" />
            <p class="teamMember_name">Anna</p>
            <p class="teamMember_position">Designer</p>
          </div>
          <div class="team">
            <img src="./images/images/team_3.jpg" />
            <p class="teamMember_name">Anna</p>
            <p class="teamMember_position">Designer</p>
          </div>
          <div class="team">
            <img src="./images/images/team_1.jpg" />
            <p class="teamMember_name">Anna</p>
            <p class="teamMember_position">Designer</p>
          </div>
          <div class="team">
            <img src="./images/images/team_2.jpg" />
            <p class="teamMember_name">Anna</p>
            <p class="teamMember_position">Designer</p>
          </div>
          <div class="team">
            <img src="./images/images/team_3.jpg" />
            <p class="teamMember_name">Anna</p>
            <p class="teamMember_position">Designer</p>
          </div>
        </section>
      </main>
    </div>
    <!-- footer -->
    <footer>
      <div class="content_wrapper">
        <h4>MyBlog &copy;</h4>
        <div class="footerContainer">
          <div class="footer_column">
            <p>Subscribe to newsletter</p>
            <form>
              <input
                type="text"
                placeholder="Add something"
                class="subscribe_input"
              />
              <button class="subscribe_btn">Subscribe</button>
            </form>
          </div>
          <div class="footer_column">
            <p>Information</p>
            <div><a href="#">About</a></div>
            <div><a href="#">License </a></div>
            <div><a href="#">Terms and Condition</a></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
