<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style/style.css" rel="stylesheet" />
    <title>Blog</title>
  </head>
  <body>
    <div class="content_wrapper">
      <nav id="navigation">
        <div class="site_header">
          <a href="#" class="nav_link">Blog</a>
        </div>
        <div class="nav_container">
          <ul>
            <li><a href="./index.html" class="nav_link">Home</a></li>
            <li><a href="./contact.html" class="nav_link">Contact</a></li>
            <li><a href="./about.html" class="nav_link">About</a></li>
          </ul>
        </div>
      </nav>
      <main>
        <!-- contact section -->
        <section>
          <div class="contactContainer">
            <div class="contact_left">
              <img src="./images/images/contact.svg" alt="About page" />
            </div>
            <form class="contact_right">
              <h4>Drop us a line</h4>
              <input
                type="text"
                class="contact_input"
                placeholder="Enter a name"
              />
              <input
                type="email"
                class="contact_input"
                placeholder="Enter a email"
              />
              <textarea rows="10" placeholder="Enter a message"></textarea>
            </form>
          </div>
        </section>
      </main>
    </div>
    <!-- footer -->
    <footer>
      <div class="content_wrapper">
        <h4>MyBlog &copy;</h4>
        <div class="footerContainer">
          <div class="footer_column">
            <p>Subscribe to newsletter</p>
            <form>
              <input
                type="text"
                placeholder="Add something"
                class="subscribe_input"
              />
              <button class="subscribe_btn">Subscribe</button>
            </form>
          </div>
          <div class="footer_column">
            <p>Information</p>
            <div><a href="#">About</a></div>
            <div><a href="#">License </a></div>
            <div><a href="#">Terms and Condition</a></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
