<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style/style.css" rel="stylesheet" />
    <title>Blog</title>
  </head>
  <body>
    <div class="content_wrapper">
      <nav id="navigation">
        <div class="site_header">
          <a href="#" class="nav_link">Blog</a>
        </div>
        <div class="nav_container">
          <ul>
            <li><a href="#" class="nav_link">Home</a></li>
            <li><a href="#" class="nav_link">Contact</a></li>
            <li><a href="#" class="nav_link">About</a></li>
          </ul>
        </div>
      </nav>
      <main>
        <section>
          <div class="heroContainer">
            <div class="hero_left">
              <img src="./images/images/section_1.jpg" />
            </div>
            <div class="hero_right">
              <p>Illustration</p>
              <h1>Big BreakFast For Your EveryDay Meal</h1>
              <p class="hero_desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Maiores perferendis totam, voluptatum architecto quas fugit
                excepturi distinctio quaerat velit accusantium molestiae
                dignissimos necessitatibus, alias amet atque! Libero rem eaque
                aspernatur.
              </p>
              <p>By LOREM IPSUM</p>
            </div>
          </div>
        </section>
        <!-- Second section -->
        <section>
          <div class="blogContainer">
            <div class="blog">
              <div class="blog_image">
                <img src="./images/images/feature_1.jpg" />
              </div>
              <div class="blog_content">
                <p>Blog tag</p>
                <h1>Some headin</h1>
                <p>By some author</p>
              </div>
            </div>
            <div class="blog">
              <div class="blog_image">
                <img src="./images/images/feature_1.jpg" />
              </div>
              <div class="blog_content">
                <p>Blog tag</p>
                <h1>Some headin</h1>
                <p>By some author</p>
              </div>
            </div>
            <div class="blog">
              <div class="blog_image">
                <img src="./images/images/feature_1.jpg" />
              </div>
              <div class="blog_content">
                <p>Blog tag</p>
                <h1>Some headin</h1>
                <p>By some author</p>
              </div>
            </div>
            <div class="blog">
              <div class="blog_image">
                <img src="./images/images/feature_1.jpg" />
              </div>
              <div class="blog_content">
                <p>Blog tag</p>
                <h1>Some headin</h1>
                <p>By some author</p>
              </div>
            </div>
            <div class="blog">
              <div class="blog_image">
                <img src="./images/images/feature_1.jpg" />
              </div>
              <div class="blog_content">
                <p>Blog tag</p>
                <h1>Some headin</h1>
                <p>By some author</p>
              </div>
            </div>
            <div class="blog">
              <div class="blog_image">
                <img src="./images/images/feature_1.jpg" />
              </div>
              <div class="blog_content">
                <p>Blog tag</p>
                <h1>Some headin</h1>
                <p>By some author</p>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
