* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(29, 161, 242);
  --active-color: rgba(29, 161, 242, 1);
  --secondary-color: rgb(235, 238, 240);
  --comment-color: rgb(91, 112, 131);
  --retweet-color: rgb(23, 191, 99);
  --heart-color: rgb(224, 36, 94);
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
}
.container {
  display: grid;

  height: 100%;
  max-width: 1260px;
  grid-template-columns: 48px auto;
}

aside,
.link_text {
  display: none;
}

/* nav Container */
.sideNav {
  list-style: none;
  height: 100%;
  border-right: 1px solid var(--secondary-color);
}

.nav_link {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.sideNav > li {
  padding: 1rem 0;
}

.navLink {
  display: grid;
  justify-content: center;
}

.btn {
  padding: 10px;
  border: 0;
  outline: none;
}

.nav_btn {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.active {
  color: var(--primary-color);
}

/* main */
.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.wrapper {
  padding: 0 14px;
}
.hr {
  border-bottom: 1px solid var(--secondary-color);
}

/* status bar */
.mainHeader {
  padding: 8px 0;
}
.statusBar {
  display: grid;
  grid-template-columns: 44px auto;
  padding: 8px 0;
}
.profile_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.statusForm .twitterField {
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 1.1rem;
}

.status_utility {
  display: flex;
  padding: 1rem 0 0.2rem 0;
  align-items: center;
  justify-content: space-between;
}
.status_left {
  display: flex;
}
.status_left > div {
  font-size: 1.1rem;
  padding-right: 1rem;
}

.tweet_btn {
  background-color: var(--primary-color);
  font-weight: 700;
  color: white;
  border-radius: 9999px;
}

.border {
  border-top: 10px solid var(--secondary-color);
}

.tweetContainer {
  padding-top: 1rem;
}
.tweet {
  display: grid;
  grid-template-columns: 44px auto;
  padding: 1rem 0;
  cursor: pointer;
  transition: all 300ms linear;
}

.tweet:hover {
  background-color: var(--secondary-color);
}
.tweet__handle {
  font-weight: 100;
  padding: 0 5px;
  color: rgb(91, 112, 131);
}
.tweet__timestamp {
  font-weight: 100;
  color: rgb(91, 112, 131);
}

.tweet_content {
  padding: 1rem 0;
  text-align: justify;
  line-height: 1.2;
}

.tweet_buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.comment,
.retweet,
.heart,
.upload {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 200ms ease;
}
.comment:hover {
  background-color: rgba(29, 161, 242, 0.4);
  color: var(--primary-color);
}
.heart:hover {
  background-color: rgba(224, 36, 94, 0.2);
  color: var(--heart-color);
}

.retweet:hover {
  background-color: rgba(23, 191, 99, 0.4);
  color: var(--retweet-color);
}

.upload:hover {
  background-color: rgba(23, 191, 99, 0.4);
  color: var(--retweet-color);
}

@media screen and (min-width: 596px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 275px 576px 300px;
  }

  aside {
    display: block;
    padding: 8px 0;
    margin: 0 10px;
  }
  .navLink {
    justify-content: flex-start;
  }
  .twitterBtnIcon {
    display: none;
  }
  .nav_btn {
    width: 100%;
    padding: 0.9rem 4rem;
    border-radius: 9999px;
    color: white;
    font-weight: 800;
    cursor: pointer;
  }

  .nav_btn:hover {
    background-color: rgba(29, 161, 242, 0.7);
  }
  .nav_btn::after {
    content: "Tweet";
  }
  .link_text {
    display: inline;
    padding-left: 0.9rem;
  }
  main {
    border-right: 1px solid var(--secondary-color);
  }
  #search {
    border: 1px solid #ccc;
    outline: none;
    padding: 8px;
    width: 100%;
    border-radius: 9999px;
  }

  .headlinesContainer {
    padding: 10px;
    background-color: rgba(246, 246, 246, 0.5);
    margin: 10px 0;
    border-radius: 10px;
  }
  .headlineCard {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    transition: all 300ms ease-out;
    cursor: pointer;
  }

  .headlineCard:hover {
    background-color: var(--secondary-color);
  }
  .headline_left > p {
    font-size: 12px;
    padding: 5px 0;
    color: rgb(91, 112, 131);
  }

  .headline_left > h2 {
    font-size: 16px;
  }
  .headlineCard img {
    width: 64px;
    height: 64px;
    border-radius: 10px;
  }
  .headline_seperator {
    padding: 0 5px;
    font-weight: 700;
  }
}
