* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(29, 161, 242);
  --active-color: rgba(29, 161, 242, 1);
  --secondary-color: rgb(235, 238, 240);
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
}
.container {
  display: grid;

  height: 100%;
  max-width: 1260px;
  grid-template-columns: 48px auto;
}

aside,
.link_text {
  display: none;
}

/* nav Container */
.sideNav {
  list-style: none;
  height: 100%;
  border-right: 1px solid var(--secondary-color);
}

.nav_link {
  color: black;
  font-size: 1.5rem;
}

.sideNav > li {
  padding: 1rem 0;
}

.navLink {
  display: grid;
  justify-content: center;
}

.btn {
  padding: 10px;
  border: 0;
  outline: none;
}

.nav_btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
}

.active {
  color: var(--primary-color);
}

/* main */
.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.wrapper {
  padding: 0 14px;
}
.hr {
  border-bottom: 1px solid var(--secondary-color);
}

/* status bar */
.statusBar {
  display: grid;
  grid-template-columns: 44px auto;
  padding: 8px 0;
}
.profile_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.statusForm .twitterField {
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 1.1rem;
}

.status_utility {
  display: flex;
  padding: 1rem 0 0.2rem 0;
  align-items: center;
  justify-content: space-between;
}
.status_left {
  display: flex;
}
.status_left > div {
  font-size: 1.1rem;
  padding-right: 1rem;
}

.tweet_btn {
  background-color: var(--primary-color);
  font-weight: 700;
  color: white;
  border-radius: 9999px;
}

.border {
  border-top: 10px solid var(--secondary-color);
}
