<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex</title>
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="landingHeader">
      <div class="content_wrapper">
        <nav class="navigationBar">
          <div class="navHeader">
            <h1>Gaia Inc</h1>
          </div>
          <div class="navLinks">
            <div><a href="#">About</a></div>
            <div><a href="#">Contact</a></div>
            <div><a href="#">News</a></div>
          </div>
        </nav>
        <div class="headerTagline">
          <div>
            <h1>Change starts with You</h1>
          </div>
          <button class="btn">Take Action</button>
        </div>
      </div>
    </header>
    <main>
      <!-- first section -->
    </main>
  </body>
</html>
