<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex</title>
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="landingHeader">
      <div class="content_wrapper">
        <nav class="navigationBar">
          <div class="navHeader">
            <h1>Gaia Inc</h1>
          </div>
          <div class="navLinks">
            <div><a href="#">About</a></div>
            <div><a href="#">Contact</a></div>
            <div><a href="#">News</a></div>
          </div>
        </nav>
        <div class="headerTagline">
          <div>
            <h1>Change starts with You</h1>
          </div>
          <button class="btn">Take Action</button>
        </div>
      </div>
    </header>
    <main>
      <!-- first section -->

      <section id="section_1">
        <div class="content_wrapper">
          <div class="mission_statement">
            <div class="mission_left">
              <p>
                Our mission statement is Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Inventore eius, cumque iste voluptates tempore
                beatae quis accusantium ex alias nesciunt accusamus ipsum
                commodi et repellendus sit qui asperiores fugit dolores!
              </p>
            </div>
            <div class="mission_right">
              <p>
                To entertain, inform and inspire people around the globe through
                the power of unparalleled storytelling, reflecting the iconic
                brands, creative minds and innovative technologies that make
                ours the world’s premier entertainment company.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- section 2 -->
      <section id="section_2">
        <div class="content_wrapper">
          <div class="infoContainer">
            <div class="info_content">
              <h1>Our Goal</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur facilis nisi quasi corporis deleniti laborum quae
                minima eaque.
              </p>
              <button class="btn info_btn">Learn More</button>
            </div>
            <div class="info_background"></div>
          </div>
        </div>
      </section>

      <section id="section_3">
        <div class="content_wrapper">
          <div class="infoContainer">
            <div class="info_background"></div>

            <div class="info_content info_content_section3">
              <h1>Our Goal</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur facilis nisi quasi corporis deleniti laborum quae
                minima eaque.
              </p>
              <button class="btn info_btn">Learn More</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
