<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="landingHeader">
      <div class="content_wrapper">
        <nav class="navigationBar">
          <div class="navHeader">
            <h1>Gaia Inc</h1>
          </div>
          <div class="navLinks">
            <div><a href="#section_2">About</a></div>
            <div><a href="#section_4">Contact</a></div>
            <div><a href="#">News</a></div>
          </div>
        </nav>
        <div class="headerTagline">
          <div>
            <h1>Change starts with You</h1>
          </div>
          <button class="btn">Take Action</button>
        </div>
      </div>
    </header>
    <main>
      <!-- first section -->

      <section id="section_1">
        <div class="content_wrapper">
          <div class="mission_statement">
            <div class="mission_left">
              <p>
                Our mission statement is Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Inventore eius, cumque iste voluptates tempore
                beatae quis accusantium ex alias nesciunt accusamus ipsum
                commodi et repellendus sit qui asperiores fugit dolores!
              </p>
            </div>
            <div class="mission_right">
              <p>
                To entertain, inform and inspire people around the globe through
                the power of unparalleled storytelling, reflecting the iconic
                brands, creative minds and innovative technologies that make
                ours the world’s premier entertainment company.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- section 2 -->
      <section id="section_2">
        <div class="content_wrapper">
          <div class="infoContainer">
            <div class="info_content">
              <h1 class="section_heading">Our Goal</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur facilis nisi quasi corporis deleniti laborum quae
                minima eaque.
              </p>
              <button class="btn info_btn">Learn More</button>
            </div>
            <div class="info_background"></div>
          </div>
        </div>
      </section>
      <!-- section 3 -->
      <section id="section_3">
        <div class="content_wrapper">
          <div class="infoContainer">
            <div class="info_background"></div>

            <div class="info_content info_content_section3">
              <h1 class="section_heading">Our Goal</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur facilis nisi quasi corporis deleniti laborum quae
                minima eaque.
              </p>
              <button class="btn info_btn">Learn More</button>
            </div>
          </div>
        </div>
      </section>
      <!-- section 4 -->
      <section id="section_4">
        <div class="content_wrapper">
          <div class="contactContainer">
            <div class="contact_content">
              <h1 class="section_heading">
                Let's keep in touch. Change starts with yourself and will affect
                those around you.
              </h1>
            </div>
            <div class="contact_form">
              <form>
                <div class="form_controls">
                  <label for="username">Name</label>
                  <input type="text" id="username" />
                </div>
                <div class="form_controls">
                  <label for="email">Email</label>
                  <input type="text" id="email" />
                </div>
                <div class="form_controls">
                  <label for="message">Message</label>
                  <textarea id="message"></textarea>
                </div>
                <div class="form_controls">
                  <button class="btn info_btn">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="content_wrapper">
        <div class="footerContainer">
          <div class="footer_column_left">
            <h3>Gaia Inc</h3>
            <p>Location: 19 XYZ Street, Australia</p>
            <p>Email: gaiainc@gmail.com</p>
            <p>Contact: 999-123-456</p>
          </div>
          <div class="footer_column_right">
            <div class="footer_column">
              <h3>Information</h3>
              <p><a href="#">About</a></p>
              <p><a href="#">Contact</a></p>
              <p><a href="#">Privacy Policy</a></p>
            </div>
            <div class="footer_column">
              <h3>Follow us on:</h3>
              <p>
                <a><i class="fab fa-facebook-square"></i>Facebook</a>
              </p>
              <p><i class="fab fa-twitter-square"></i>Twitter</p>
              <p><i class="fab fa-linkedin"></i>Linkedin</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
