.leftToRight {
  width: 100px;
  height: 100px;
  background-color: bisque;
  animation-name: lToR;
  position: relative;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes lToR {
  from {
    left: 0;
  }

  to {
    left: 70%;
  }
}

.hoverAnimation {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
  background-color: aquamarine;
  cursor: pointer;
}
.hoverAnimation:hover {
  animation-name: hover;
  animation-duration: 2s;

  animation-timing-function: ease-in-out;
}
@keyframes hover {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(3);
  }
}

.rotationAnimation {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
  background-color: aquamarine;
  cursor: pointer;
  animation: rotate 2s linear infinite;
  transform-origin: top left;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background {
  width: 400px;
  height: 400px;
  background: url("https://images.pexels.com/photos/6039178/pexels-photo-6039178.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  animation: bg 8s linear 2s;
}

@keyframes bg {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.disappear {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
  background-color: rgb(71, 18, 107);
  animation: disappear 2s linear 2s;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.flip {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
  background-color: rgb(100, 16, 86);
  animation: flip 10s linear 2s;
}
@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-270deg);
  }
}

body {
  animation: bgColorChange 5s 2;
}
@keyframes bgColorChange {
  0% {
    background-color: antiquewhite;
  }

  40% {
    background-color: blue;
  }

  80% {
    background-color: green;
  }

  90% {
    background-color: red;
  }
}
