@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Vollkorn&display=swap");

/* global */
:root {
  --primary-color: #2b00d4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content_wrapper {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
}
.btn {
  padding: 12px;
  outline: none;
  border: 0;
  font-weight: 500;
  font-size: 1rem;
}
section {
  padding: 2rem 0;
}
/* navBar */
.background {
  background: url("../images//banner-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: "Vollkorn", serif;
}

.nav_tagline {
  color: var(--primary-color);
  font-weight: 800;
  /* font-size: 20px; */
  text-transform: uppercase;
}

.nav_links {
  display: none;
}
.nav_links > a {
  padding-left: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 250ms linear;
}

.nav_links > a:hover {
  color: var(--primary-color);
}

/* heroContainer */

.hero_name {
  font-size: 2.7rem;
  letter-spacing: 2px;
  font-weight: 900;
}
.heroImage img {
  width: 100%;
}

#heroContainer > div {
  padding: 1rem 0;
}

.btn_primary {
  background-color: var(--primary-color);
  color: white;
  margin-right: 12px;
}

.heroTagline p {
  padding: 1rem 0;
}
.hero_tag {
  color: var(--primary-color);
  font-weight: 700;
}
