@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Vollkorn&display=swap");

/* global */
:root {
  --primary-color: #2b00d4;
  --secondary-color: #f9f9f9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content_wrapper {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  max-width: 2160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
}
.btn {
  padding: 12px;
  outline: none;
  border: 0;
  font-weight: 500;
  font-size: 1rem;
}
section {
  padding: 2rem 0;
}

.section_heading {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 1rem 0;
}
/* navBar */
.background {
  background: url("../images//banner-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: "Vollkorn", serif;
  font-size: 1.4rem;
}

.nav_tagline {
  color: var(--primary-color);
  font-weight: 800;
  /* font-size: 20px; */
  text-transform: uppercase;
}

.nav_links {
  display: none;
}
.nav_links > a {
  padding-left: 0.6rem;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 250ms linear;
}

.nav_links > a:hover {
  color: var(--primary-color);
}

/* heroContainer */

.hero_name {
  font-size: 2.7rem;
  letter-spacing: 2px;
  font-weight: 900;
}
.heroImage img {
  width: 100%;
}

#heroContainer > div {
  padding: 1rem 0;
}

.btn_primary {
  background-color: var(--primary-color);
  color: white;
  margin-right: 12px;
}

.heroTagline p {
  padding: 1rem 0;
}
.hero_tag {
  color: var(--primary-color);
  font-weight: 700;
}

/* projects */

.section_2 {
  background-color: var(--secondary-color);
}
.project img {
  width: 100%;
}

.project {
  position: relative;
}

.project .project_link {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
}
.project_link a {
  color: white;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.project p {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}

/* skilss */

.skill_text {
  display: inline-block;
  margin: 8px 8px 8px 0;
  padding: 8px 16px;
  font-size: 1.2rem;
  border-radius: 9999px;
  border: 1px solid #ccc;
  line-height: 1.8rem;
}

/* blogs */

.blog {
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#blogSection {
  background-color: var(--secondary-color);
}
.blog_tags {
  padding: 0.5rem 0;
}
.blog_tags > p {
  display: inline-block;
  margin: 8px 8px 8px 0;
  padding: 3px 16px;
  border-radius: 9999px;
  text-align: justify;
  border: 1px solid #ccc;
}
.blog_heading {
  font-weight: bolder;
  font-family: "Vollkorn", serif;
  font-size: 1.5rem;
  cursor: pointer;
}
.blog_heading:hover {
  text-decoration: underline;
}

/* about */

.about_left > p {
  text-align: justify;
  padding: 0.5rem 0;
}
.about_right {
  display: none;
}

/* footer */

#footerSection {
  background-color: var(--secondary-color);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_row {
  margin: 0.6rem 0;
}
.footer_row > a {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #665f82;
}

/* media queries */

@media screen and (min-width: 576px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    /* gap: 4px; */
  }
  .projects > .project {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 10px;
  }
  .content_wrapper {
    width: 85%;
    margin: 0 auto;
  }
  section {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 768px) {
  #heroContainer {
    display: flex;
  }
  .heroTagline {
    flex: 0 0 50%;
  }
  .heroImage {
    flex: 0 0 50%;
  }

  .aboutContainer {
    display: flex;
    gap: 2rem;
  }
  .about_right {
    display: block;
    flex: 0 0 50%;
    align-self: center;
  }
  .about_right img {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .content_wrapper {
    width: 75%;
    margin: 0 auto;
  }

  #heroContainer {
    padding: 4rem 0;
    gap: 1.5rem;
  }
  .nav_links {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .projects > .project {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 10px;
  }
  .skillsContainer {
    display: flex;
  }
  .skillsContainer .skills_left {
    max-width: 40%;
    flex: 0 0 40%;
  }
  .skillsContainer .skills_right {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .blog {
    width: 80%;
  }
}
