<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="sideNav">
          <li>
            <div class="navLink">
              <a class="nav_link active" href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link active" href="#">
                <i class="fas fa-home"></i> <span class="link_text">Home</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="fas fa-hashtag"></i>
                <span class="link_text">Explore</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-bell"></i>
                <span class="link_text">Notifications</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-envelope"></i>
                <span class="link_text">Messages</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-bookmark"></i>
                <span class="link_text">Bookmarks</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-list-alt"></i>
                <span class="link_text">Lists</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-user"></i>
                <span class="link_text">Profile</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="fas fa-ellipsis-h"></i>
                <span class="link_text">More</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <button class="btn nav_btn">
                <span class="twitterBtnIcon"
                  ><i class="fas fa-feather-alt"></i
                ></span>
              </button>
            </div>
          </li>
        </ul>
      </nav>
      <main>
        <div class="wrapper">
          <section class="mainHeader">
            <h3>Home</h3>
            <div><i class="far fa-star"></i></div>
          </section>
        </div>
        <div class="hr"></div>
        <div class="wrapper">
          <section class="statusBar">
            <div>
              <img src="./profile.jpg" class="profile_img" />
            </div>
            <div class="statusForm">
              <form>
                <input
                  type="text"
                  placeholder="What's happening?"
                  class="twitterField"
                />
              </form>
              <div class="hr"></div>

              <div class="status_utility">
                <div class="status_left">
                  <div>
                    <i class="far fa-smile"></i>
                  </div>
                  <div>
                    <i class="fas fa-puzzle-piece"></i>
                  </div>
                  <div>
                    <i class="fas fa-chart-bar"></i>
                  </div>
                  <div>
                    <i class="far fa-calendar-alt"></i>
                  </div>
                  <div>
                    <i class="far fa-images"></i>
                  </div>
                </div>
                <div class="status_right">
                  <button class="btn tweet_btn">Tweet</button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="border"></div>
        <!-- tweet container -->
        <section class="tweetContainer">
          <div class="wrapper">
            <div class="tweet">
              <div class="profileImage">
                <img src="./profile.jpg" class="profile_img" />
              </div>
              <div class="tweet_body">
                <div class="tweet_header">
                  <h4>
                    Pranish <span class="tweet__handle">@PranisShresth</span
                    ><span class="tweet__timestamp">1hr</span>
                  </h4>
                </div>
                <div class="tweet_content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                    accusantium velit aperiam tenetur nostrum dolorem eaque ut
                    at hic sit alias cumque odio consequuntur sed, harum
                    perspiciatis commodi quo quam.
                  </p>
                </div>
                <div class="tweet_buttons">
                  <div class="tweet_utility">
                    <div class="comment">
                      <i class="far fa-comment"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="retweet">
                      <i class="fas fa-retweet"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="heart">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="upload">
                      <i class="fas fa-upload"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tweet">
              <div class="profileImage">
                <img src="./profile.jpg" class="profile_img" />
              </div>
              <div class="tweet_body">
                <div class="tweet_header">
                  <h4>
                    Pranish <span class="tweet__handle">@PranisShresth</span
                    ><span class="tweet__timestamp">1hr</span>
                  </h4>
                </div>
                <div class="tweet_content">
                  <p>
                    Consectetur adipisicing elit. Id accusantium velit aperiam
                    tenetur nostrum dolorem eaque ut at hic sit alias cumque
                    odio consequuntur sed, harum perspiciatis commodi quo quam.
                  </p>
                </div>
                <div class="tweet_buttons">
                  <div class="tweet_utility">
                    <div class="comment">
                      <i class="far fa-comment"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="retweet">
                      <i class="fas fa-retweet"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="heart">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="upload">
                      <i class="fas fa-upload"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tweet">
              <div class="profileImage">
                <img src="./profile.jpg" class="profile_img" />
              </div>
              <div class="tweet_body">
                <div class="tweet_header">
                  <h4>
                    Pranish <span class="tweet__handle">@PranisShresth</span
                    ><span class="tweet__timestamp">1hr</span>
                  </h4>
                </div>
                <div class="tweet_content">
                  <p>consequuntur sed, harum perspiciatis commodi quo quam.</p>
                </div>
                <div class="tweet_buttons">
                  <div class="tweet_utility">
                    <div class="comment">
                      <i class="far fa-comment"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="retweet">
                      <i class="fas fa-retweet"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="heart">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="upload">
                      <i class="fas fa-upload"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tweet">
              <div class="profileImage">
                <img src="./profile.jpg" class="profile_img" />
              </div>
              <div class="tweet_body">
                <div class="tweet_header">
                  <h4>
                    Pranish <span class="tweet__handle">@PranisShresth</span
                    ><span class="tweet__timestamp">1hr</span>
                  </h4>
                </div>
                <div class="tweet_content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                    accusantium veli.
                  </p>
                </div>
                <div class="tweet_buttons">
                  <div class="tweet_utility">
                    <div class="comment">
                      <i class="far fa-comment"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="retweet">
                      <i class="fas fa-retweet"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="heart">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="tweet_utility">
                    <div class="upload">
                      <i class="fas fa-upload"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <aside>
        <div class="sideBarContainer">
          <form>
            <input type="text" placeholder="Search Twitter" id="search" />
          </form>
          <section class="headlinesContainer">
            <h2>What's happening?</h2>
            <div class="headlineCard">
              <div class="headline_left">
                <p>
                  COVID-19<span class="headline_seperator">&#x000B7; </span
                  ><span>LIVE</span>
                </p>
                <h2>Updates on COVID-19 in Australia</h2>
              </div>
              <div>
                <img
                  src="https://pbs.twimg.com/semantic_core_img/1255577381936304128/tAggc-a4?format=jpg&name=240x240"
                  alt="Image"
                />
              </div>
            </div>
            <div class="headlineCard">
              <div class="headline_left">
                <p>
                  COVID-19<span class="headline_seperator">&#x000B7; </span
                  ><span>LIVE</span>
                </p>
                <h2>Updates on COVID-19 in Australia</h2>
              </div>
              <div>
                <img
                  src="https://pbs.twimg.com/semantic_core_img/1255577381936304128/tAggc-a4?format=jpg&name=240x240"
                  alt="Image"
                />
              </div>
            </div>
            <div class="headlineCard">
              <div class="headline_left">
                <p>
                  COVID-19<span class="headline_seperator">&#x000B7; </span
                  ><span>LIVE</span>
                </p>
                <h2>Updates on COVID-19 in Australia</h2>
              </div>
              <div>
                <img
                  src="https://pbs.twimg.com/semantic_core_img/1255577381936304128/tAggc-a4?format=jpg&name=240x240"
                  alt="Image"
                />
              </div>
            </div>
            <div class="headlineCard">
              <div class="headline_left">
                <p>
                  COVID-19<span class="headline_seperator">&#x000B7; </span
                  ><span>LIVE</span>
                </p>
                <h2>Updates on COVID-19 in Australia</h2>
              </div>
              <div>
                <img
                  src="https://pbs.twimg.com/semantic_core_img/1255577381936304128/tAggc-a4?format=jpg&name=240x240"
                  alt="Image"
                />
              </div>
            </div>
            <div class="headlineCard">
              <div class="headline_left">
                <p>
                  COVID-19<span class="headline_seperator">&#x000B7; </span
                  ><span>LIVE</span>
                </p>
                <h2>Updates on COVID-19 in Australia</h2>
              </div>
              <div>
                <img
                  src="https://pbs.twimg.com/semantic_core_img/1255577381936304128/tAggc-a4?format=jpg&name=240x240"
                  alt="Image"
                />
              </div>
            </div>
          </section>
        </div>
      </aside>
    </div>
  </body>
</html>
