<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="sideNav">
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="fas fa-home"></i> <span class="link_text">Home</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="fas fa-hashtag"></i>
                <span class="link_text">Explore</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-bell"></i>
                <span class="link_text">Notifications</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-envelope"></i>
                <span class="link_text">Messages</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-bookmark"></i>
                <span class="link_text">Bookmarks</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-list-alt"></i>
                <span class="link_text">Lists</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="far fa-user"></i>
                <span class="link_text">Profile</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <a class="nav_link" href="#">
                <i class="fas fa-ellipsis-h"></i>
                <span class="link_text">More</span>
              </a>
            </div>
          </li>
          <li>
            <div class="navLink">
              <button class="btn nav_btn">
                <i class="fas fa-feather-alt"></i>
              </button>
            </div>
          </li>
        </ul>
      </nav>
      <main></main>
      <aside></aside>
    </div>
  </body>
</html>
