@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Vollkorn&display=swap");
/* /font-family: 'Montserrat', sans-serif;
font-family: 'Vollkorn', serif;
; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Vollkorn", serif;
}
.content_wrapper {
  width: 80%;
  margin: 0 auto;
}
/* header */
.landingHeader {
  background: url("../images/bg2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  /* background-attachment: fixed; */
  height: 100%;
}

.navigationBar {
  display: flex;
  padding: 0.9rem 0;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  align-items: center;
}
.navLinks a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 12px;
}
.navHeader h1 {
  font-size: 28px;
}
.headerTagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.headerTagline h1 {
  font-size: 40px;
  line-height: 1.5em;
  text-align: center;
}
.btn {
  outline: none;
  border: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: medium;
  cursor: pointer;
  border-radius: 9999px;
}
/* .btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
} */

section {
  padding: 4rem 0;
}

.section_heading {
  font-size: 30px;
  line-height: 34px;
  padding-right: 40px;
}
/* section_1 */
#section_1 {
  background-color: #e0e0db;
}
.mission_statement {
  display: flex;
  /* padding: 4rem 0; */
  text-align: left;
}
.mission_statement > div {
  padding: 20px 20px 20px 0;
}
.mission_left {
  font-weight: 800;
}

/* section_2 */
.infoContainer {
  display: flex;
}

.infoContainer > div {
  flex: 0 0 50%;
  align-self: center;
}

.info_background {
  background: url("../images/section_2.jpg") center center no-repeat;
  background-size: cover;
  height: 400px;
}
.info_content p {
  /* padding-right: 70px; */
  padding: 24px 70px 24px 0;
}

.info_btn {
  background-color: #eeeeee;
}
.info_content_section3 {
  padding-left: 27px;
}
.info_content_section3 p {
  padding: 24px 0px 24px 0px;
}

/* section 4 */
.contactContainer {
  display: flex;
}
.contactContainer > div {
  flex: 0 0 50%;
}
#username,
#email,
#message {
  padding: 10px;
  width: 100%;
  background: #fafafa;
  outline: none;
  border: 1px solid #ccc;
}
#message {
  resize: none;
}

/* footer */
footer {
  background-color: #e0e0db;
}
.footerContainer,
.footer_column_right {
  display: flex;
  justify-content: space-between;
}
